.btn:where(.astro-3B2PDG42){
    width: fit-content;
    padding: .36rem .92rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-primary);
    color: var(--theme-on-primary);
    border: none;
    border-radius: var(--theme-button-border-radius);
    font-weight: 500;
}

.btn:where(.astro-3B2PDG42):hover {
    background-color: var(--theme-primary-hover);
}

.btn--unelevated:where(.astro-3B2PDG42) {
    background-color: transparent;
    color: var(--theme-on-bg);
}

.btn--unelevated:where(.astro-3B2PDG42):hover {
    background-color: transparent;
    opacity: var(--theme-primary-hover);
}

.btn--outlined:where(.astro-3B2PDG42) {
    color: var(--theme-primary);
    background-color: transparent;
    border: 2px solid var(--theme-primary);
    transition: background-color var(--theme-transition);
}

.btn--outlined:where(.astro-3B2PDG42):hover {
    background-color: var(--theme-primary);
    color: var(--theme-on-primary);
}

.material-icons:where(.astro-3B2PDG42) {
    margin-left: .25rem;
}

a:where(.astro-3B2PDG42).btn {
    text-decoration: none;
}

button:where(.astro-3B2PDG42).btn {
    cursor: pointer;
    outline: none;
}

/* Styling for scroll bar */
::-webkit-scrollbar {
    width: 8px; /* You can adjust the width as needed */
}

::-webkit-scrollbar-thumb {
    background-color: #57F287; /* Default thumb color */
    border-radius: 6px; /* You can adjust the border radius to make it rounder */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5865F2; /* Thumb color on hover */
}

::-webkit-scrollbar-track {
    background-color: #2d305f; /* Track color */
}
