.hero-section__section:where(.astro-U2CZMILA){margin:var(--section-margin) auto;min-height:clamp(90vh,100vw,calc(100vh - var(--navbar-height)));display:grid;grid-template-columns:1fr 1fr;align-items:center;gap:1rem}.hero-section__text:where(.astro-U2CZMILA){justify-self:center;max-width:25rem}




.hero-section__text:where(.astro-U2CZMILA) {
    justify-self: center;
    max-width: 25rem;
}

.loading-dots {
    display: inline-block;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #abb2ff;
    margin-right: 2px; /* Adjust spacing between dots if needed */
    animation: moveUpDown 0.3s infinite alternate; /* Decreased duration to make it faster */
}

.dot:nth-child(1) {
    animation-delay: 0.1s; /* Adjust delay to control the leading effect */
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.3s;
}

@keyframes moveUpDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}

.hero-btns__container:where(.astro-U2CZMILA){display:flex;align-items:center;gap:1rem}.hero-btns__container:where(.astro-U2CZMILA){margin-right:1rem}.hero-section__image:where(.astro-U2CZMILA){display:flex}.hero-section__image:where(.astro-U2CZMILA) img:where(.astro-U2CZMILA){width:100%;height:100%;max-height:80vh;object-fit:cover;border-radius:var(--theme-shape-radius)}@media (max-width: 768px){.hero-section__section:where(.astro-U2CZMILA){grid-template-columns:1fr}}
